.div0, .div1, .div2, .div3, .div4 {
	width: 200px;
	height: 100px;
	border: 10px solid #000;
	padding: 20px;
	margin: 20px;
	background-image: url("./images/img0.png");
	background-repeat: no-repeat;
}

.div0 {
	background-size: contain;
}

.div1 {
	background-size: cover;
}

.div2 {
	background-origin: content-box;
	background-size: 50%;
}
